@page "/testpage2"
<h3>TestPage</h3>

<button type="button" @onclick="Toggle">Toggle</button>

@if (IsToggled == true)
{
    <p>Test</p>
}

@code {
    private bool IsToggled { get; set; }

    protected override void OnInitialized()
    {
        IsToggled = false;
    }

    private async Task Toggle()
    {
        IsToggled = true;
        StateHasChanged();
    }
}
