.shop-item-parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 60px;
}

.card {
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.shop-item-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.shop-item-info {
    flex: 1;
    padding-bottom: 10px;
}